@model hospital.Models.Symptom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Symptom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SymptomOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SymptomOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SymptomTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SymptomTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SymptomThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SymptomThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SymptomFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SymptomFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SymptomFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SymptomFive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiseaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
