@model IEnumerable<hospital.Models.Symptom>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomThree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomFour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomFive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomThree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomFour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomFive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiseaseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiseaseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiseaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
